* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  color: #333;
}

/* Ini hanya untuk halaman / */
.app-wrapper {
background-color: #f3f3f3; /* background abu-abu untuk Hero */
  padding: 40px 40px;
  width: 100%;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}
