/* Navbar.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.navbar-wrapper {
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid #e0e0e0; /* garis bawah halus */
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  gap: 40px;
}

.logo {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
}

.navbar-right ul {
  list-style: none;
  display: flex;
  gap: 28px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navbar-right li {
  font-size: 15px;
  color: #1f1f1f;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: capitalize;
  font-weight: 400;
}

.navbar-right ul li a,
.navbar-right ul li Link {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.navbar-right ul li a:hover,
.navbar-right ul li Link:hover {
  color: #1e7e34;
  transform: scale(1.05);
}

.navbar-right li:hover {
  color: #1e7e34;
    transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 12px 16px;
    flex-direction: column;
  }

  .navbar-right ul {
    gap: 20px;
  }

  .navbar-right li {
    font-size: 15px;
  }
}
